/* Rules for the whole page */
* {
  margin: 0;
  padding: 0;
}

/* Rules for the main grid container */
.main-grid-container {
  display: grid;
  grid-template: 538px 200px / repeat(4, 1fr);
  grid-gap: 1px; /* TODO */
  background: orange; /* TODO */
}

/* TODO */
.main-grid-element {
  border: 1px solid white;
}

/* Rules for the container of the main backgraund */
.main-image-container {
  grid-area: 1 / 1 / span 1 / span 4;
  background-image: url(images/img_main_background.jpg);  
  background-position-y: -2080px;
  background-position-x: -75px;
  background-size: 112%;
  border: none; /* TODO */
}

