/* Rules for the whole page */
* {
  margin: 0;
  padding: 0;
}

.main-grid-container {
  display: grid;
  grid-template: 538px 200px / repeat(4, 1fr);
  background: orange;
  grid-gap: 1px;
}

.main-grid-element {
  border: 1px solid white;
}

.main-image {
  grid-area: 1 / 1 / span 1 / span 4;
  background-image: url(images/img_main_background.jpg);  
  background-position-y: -2102px;
  background-position-x: -82px;
  background-size: 113%;
  border: none;
}

